<!-- Breadcrumb -->
<nav class="h-[5vh] flex justify-start items-center text-lg text-gray-600 space-x-2 pl-5">
  <!-- Home Link -->
  <a routerLink="/" class="hover:text-emerald-600 text-gray-500">Home</a>
  <!-- Separator -->
  <span class="text-gray-400">›</span>
  <!-- Current Page (rnhs) -->
  <span class="font-semibold text-emerald-800">RNHS</span>
</nav>

<!-- Filter and RHS -->
<div class="flex flex-row h-[95vh]">
  <!-- filter -->
   <div class="w-[15%] bg-blue-300">
    FILTER dropdowns
   </div>

   <!-- RHS -->
    <div class="flex flex-col w-[85%] h-[95vh]">
      <!-- heading -->
      <div class="py-1">
      <h1 class="font-bold text-6xl pl-3 text-emerald-900">RNHS</h1>

      <a href="product1.pdf" download class="flex gap-1 pl-3">
      <img src="pdf_download.png" alt="Download PDF" class=" w-5 h-5"/>
      <span class="self-center text-yellow-600">Download pdf</span>
      </a>
      </div>

      <!-- Carousels -->
      <div class="bg-red-300 h-[90%]">
        SWIPERJS - carousels
      </div>

      <!-- prev next buttons -->
      <div class="bg-green-300 inline h-[5%]">
         <button>
        <span> < </span>
        <span>Previous</span> 
         </button>

        <button>
        <span> Next</span> 
        <span> > </span>
        </button>
      </div>

    </div>
    


</div>