<!-- dynamic breadcrumbing -->
<div class="h-[10vh] bg-yellow-300 ">
DYNAMIC BREADCRUMBING - home>catalogs>rnhs
</div>

<!-- Filter and RHS -->
<div class="flex flex-row h-[90vh]">
  <!-- filter -->
   <div class="w-[20%] bg-blue-300">
    FILTER dropdowns
   </div>
   <!-- RHS -->
    <div class="flex flex-col w-[80%]">
      <!-- heading -->
      <div class="bg-orange-300 h-[15%]">
      <h1 class="font-bold text-6xl p-3">RNHS</h1>

      <a href="product1.pdf" download class="flex gap-1 pl-3">
      <img src="pdf_download.png" alt="Download PDF" class="w-5 h-5"/>
      <span class="self-center">Download pdf</span>
      </a>
      </div>

      <!-- Carousels -->
      <div class="bg-red-300 h-[75%]">
        SWIPERJS - carousels
      </div>

      <!-- prev next buttons -->
      <div class="bg-green-300 inline h-[10%]">
         <button>
        <span> < </span>
        <span>Previous</span> 
         </button>

        <button>
        <span> Next</span> 
        <span> > </span>
        </button>
      </div>

    </div>
    


</div>