
<div class="bg-gray-50 min-h-[50vh]  p-4 flex flex-col lg:flex-row sm:items-center lg:justify-evenly">
  <div class="flex flex-col p-4 justify-center">
    <h1 class="font-bold text-5xl sm:text-6xl lg:text-8xl xl:text-9xl  text-emerald-850 self-center ">
      SDR
    </h1>
    <h2 class="font-semibold text-xl sm:text-2xl lg:text-4xl xl:text-5xl text-gray-800 text-center">
      The Only Wholesale Catalog You Need.
    </h2>
    <p class="text-base sm:text-lg lg:text-2xl xl:text-3xl text-gray-800 text-center ">
      Stop searching, start stocking.<br/>
      Count on us for consistent quality, reliable stock, and foundational styles!
    </p>
  </div>

  <!-- Hero Image -->
 <div class="flex items-center justify-center">
    <img src="heroimage.png" 
    alt="Hero Image"
    class="h-[90%] ">
 </div>
</div>
