.product{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    
}
.search-box {
    flex: 1;
    display: flex;
    margin: 10px; 
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
}   
.search-box input { 
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}
.search-box button { 
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
}


.filter-dropdown {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
