<nav class="flex flex-col items-center">
  <h1 class="text-3xl font-bold mt-4 text-blue-900">CATALOGS</h1>
</nav>

<div>

  <aside class="w-40 bg-blue-100 p-4 mr-6 shadow"> 
  <select>
    <option value="" disabled selected>Filter</option>
    <option value="rn">Round neck</option>
    <option value="vc">Vertical collar</option>
    <option value="hs">Half sleeve</option>
    <option value="kids">Kids</option>
  </select>
  </aside>

  <div class="flex justify-evenly items-center p-5 flex-wrap">
  <div *ngFor="let catalogs of catalogs" class="text-blue-950 m-4">
    <a [routerLink]="catalogs.route">
      <img [src]="catalogs.image" [alt]="catalogs.name" class="max-w-[200px] h-auto object-contain mb-2.5">
    </a>
    <h2 class="text-lg font-semibold">{{ catalogs.name }}</h2>
    <p class="text-sm">{{ catalogs.description }}</p>
  </div>
  </div>

</div>

