/* .product-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.product-card {
  text-align: center;
  width: 150px;
}

.product-box {
  background-color: #d3d3d3;
  padding: 40px 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  gap: 5px;
}

.download-link img {
  width: 20px;
  height: 20px;
} */