<nav class="catalogs">
    <h1>CATALOGS</h1>
</nav>


<div class="catalogs-list">
    <div class="catalog-item">
        <img src="rn hs.jpg" alt="RN HS">
        <h2>RN HS</h2>
        <p>Description of Catalog 1</p>
    </div>
    <div class="catalog-item">
        <img src="vc hs.jpg" alt="VC HS">
        <h2>VC HS</h2>
        <p>Description of Catalog 2</p>
    </div>
    <div class="catalog-item">
        <img src="kids hs.jpg" alt="Kids HS">
        <h2>Kids HS</h2>
        <p>Description of Catalog 3</p>
    </div>
