<div>
<!-- Top Banner -->
<div class="bg-emerald-700 text-white text-center py-2 text-sm w-full">
  Your trusted partner in apparel | Enjoy seamless shopping with SDR
</div>

<div class="w-full max-w-full overflow-hidden">
<nav class="flex flex-wrap items-center justify-between px-4 py-3 bg-white shadow w-full">

  <!-- Search Bar -->
  <div class="flex flex-grow w-full md:w-auto md:flex-1 mx-4 border border-gray-300 text-gray-600 rounded overflow-hidden">
    <input
      type="text"
      placeholder="What are you looking for?"
      class="flex-1 px-4 py-2 text-sm focus:outline-none"
    />
    <button
      class="px-4 py-2 bg-emerald-800 text-white text-sm hover:bg-emerald-700 transition"
    >
      Search
    </button>
  </div>

  <!-- Home and Login -->
   <a routerLink="/" class="text-sm pr-4 text-gray-600 hover:underline whitespace-nowrap">
   Home
  </a>

  <a routerLink="/login" class="text-sm text-gray-600 hover:underline whitespace-nowrap">
    Log in
  </a>
</nav>
</div>

<!-- Collage -->
<div class="bg-gray-50 h-[600px] p-4">
  <!-- SDR Text in Center -->
   <div class="relative">
     <h1 class="text-9xl font-bold text-emerald-950 p-10 absolute top-[95px] left-[250px]">SDR</h1>
      <h2 class="text-4xl font-semibold text-gray-800 absolute top-[250px] left-[100px] p-4">The Only Wholesale Catalog You Need.</h2>
      <p class="text-lg text-gray-800 absolute top-[310px] left-[120px] whitespace-pre-line">
        Stop searching, start stocking. <br>
        Count on us for consistent quality, reliable stock, and foundational styles!
      </p>
   </div>
 

  <!-- Relative container to position absolutely inside -->
  <div class="relative h-[400px] flex">

    <div>
      <!-- Image 1 (Back layer) -->
    <img
      src="heroimage/rnhs1.jpeg"
      alt="Hero Image 1"
      class="absolute right-150 top-0  max-w-xs sm:max-w-sm md:max-w-md h-auto sm:h-80 object-contain shadow-lg z-10"
    />

    <!-- Image 2 (Front layer) -->
    <img
      src="heroimage/rnhs2.jpeg"
      alt="Hero Image 2"
      class="absolute right-200 top-50  max-w-xs sm:max-w-sm md:max-w-md h-auto sm:h-80 object-contain shadow-2xl z-20"
    />
    </div>
    

    <div>
      <!-- Image 1 (Back layer) -->
    <img
      src="heroimage/vc1.jpeg"
      alt="Hero Image 3"
      class="absolute right-20 top-0  max-w-xs sm:max-w-sm md:max-w-md h-auto sm:h-80 object-contain shadow-lg z-10"
    />

    <!-- Image 2 (Front layer) -->
    <img
      src="heroimage/vc2.jpeg"
      alt="Hero Image 4"
      class="absolute right-70 top-50  max-w-xs sm:max-w-sm md:max-w-md h-auto sm:h-80 object-contain shadow-2xl z-20"
    />
    </div>
     

  </div>
</div>